@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Roboto:wght@300&display=swap');

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Reset */

/*Whole Website Styles*/
:root {
  --title-font: 'Playfair Display', serif;
  --text-font: 'Roboto', sans-serif;
}

body {
    display:grid;
    grid-template-columns: 1fr;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

/* Header */
header {
    background-color: #3D84A8;
    display:grid;
    grid-template-columns: 500px 500px;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.profile-photo {
    border-radius: 50%;
    max-width: 300px;
}

/* Main */

/*Give main a minimum size so there isn't space at the end of the website after the footer.*/
main {
    background-color: #ABEDD8;
}

main h2 {
    text-align: center;
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 3rem;
}

main h3 {
    font-weight: bold;
}

main p {
    font-size: 14px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    justify-content: center;
    justify-items: center;
    gap:35px;
    padding: 20px;
}

.project-card {
    background-color: #48466D;
    max-width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-end;
}

.card-info {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
}
/* Footer */

footer {
    background-color: #3D84A8;
    display:grid;
    grid-template-columns: 500px 500px;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.contact-me {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 10px;
}

.address {
    padding-top: 15px;
    padding-bottom: 15px;
}

.contact-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.footer-photo {
    max-width: 500px;
}

